<div class="container">

  <input class="form-control mb-5" type="file" class="upload" (change)="changeListener($any($event).target.files)">

  <table class="table table-bordered table-dark mt-5">
    <thead>
      <tr>
        <th *ngFor="let item of lines[0]; let i = index">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of linesR[0]; let i = index">
        <td *ngFor="let itemm of lines[0]; let j = index">{{item[j]}}</td>

      </tr>
    </tbody>
  </table>
</div>
