<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form (submit)="onFormSubmit()" [formGroup]="loginForm">
			<span class="title">Forgot Password</span>
        <br />
			<span>
        {{msg}}
      </span>
      <input type="text" placeholder="Enter Email" name="email" formControlName="email">
      <span *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        <span *ngIf="loginForm.controls['email'].errors['required']">Email is required</span>
        <span *ngIf="loginForm.controls['email'].errors['email']">Email does not seem valid</span>
      </span>
      <input type="submit"  class="login_button" value="Proceed to Verification" [disabled]="!loginForm.valid">
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">

			<div class="overlay-panel overlay-right">
				<h1>Incedo </h1>
        <p>You wil get a confirmation email on your registered email/username.</p>
				<p>If you are a new employee, sign up to gain access to the App.</p>
				<button class="ghost" id="signUp" routerLink="/sign-up">Sign Up</button>
			</div>
		</div>
	</div>
</div>


