<div class="sidebar">
  <div class="avatar">
      <img src="https://s.gravatar.com/avatar/34fca7b482ff696be8ee32f3da1e0448?s=200">
  </div>
  <div class="info">
          <span >Welcome {{employee.name}}</span>
          <br />
          <span>Job TItle: {{employee.jobTitle}}</span>
          <br />
          <span>Manager: {{employee.managerName}}</span>
          <br />
          <span>Email: {{employee.email}}</span>
  </div>
  <div class="logout">
          <a routerLink="/logout">Logout</a>
  </div>
</div>
