
<!--
        <div class="container">
            <div class="dashboard">
                    <div class="fb-cell fb-cell--1">
                        <div class="fb-item">

                            <app-employee-info [employee]='employee' ></app-employee-info>
                        </div>
                    </div>
                    <div class="fb-cell fb-cell--2">
                        <div class="fb-item">

                            <app-employee-ticket  ></app-employee-ticket>
                        </div>
                    </div>
                    <div class="fb-cell fb-cell--3">
                        <div class="fb-item">

                              <app-employee-leave  ></app-employee-leave>
                        </div>
                    </div>
                    <div class="fb-cell fb-cell--4">
                        <div class="fb-item">
                              <app-employee-list [tickets]="tickets" [leaves]="leaveArry" (status)="onStatusUpdate($event)"></app-employee-list>
                        </div>
                    </div>
            </div>
        </div>

      -->
